{% extends 'wrapper.html' %}
{% block content %}



  <main id="main" class="main">


    <div class="pagetitle">
      <h1><span class="badge bg-info ">{{ tarif.title }}</span> tarif ma'lumolarini tahrirlash</h1>
      <nav>
        <ol class="breadcrumb p-2">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Asosiy sahifa</a></li>
          <li class="breadcrumb-item active">Tahrirlash</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->



 

 
    <section class="section">
      <div class="row">
        <div class="card col-lg-6 " style="margin:0 auto; float:none; padding: 25px;">
            <div class="card-body">

              <!-- <h5 class="card-title">Update tarif </h5> -->

              <!-- Floating Labels Form -->
               <form class="row g-3" method="post"> {% csrf_token %}
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" name="name" class="form-control" id="floatingName" value="{{ tarif.title }}" placeholder="Your Name">
                    <label for="floatingName">Tarif nomi</label>
                  </div>

                </div>
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="number" name="days" class="form-control" id="floatingDays" value="{{tarif.days}}" placeholder="City">
                      <label for="floatingDays">Kunlari</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="number" name="price" class="form-control" id="floatingPrice" value="{{ tarif.price }}" placeholder="City">
                      <label for="floatingPrice">Narxi</label>
                    </div>
                  </div>
                </div>
             
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <textarea  name="info" id="floatingCity" cols="54" rows="10" class="form-control" >{{ tarif.info }}</textarea>
                        <!-- <input type="text" name="info" class="form-control" id="floatingCity" placeholder="City"> -->
                        <label for="floatingCity">Qo'shimcha ma'lumot</label>
                    </div>
                </div>
            </div>
            <div class="text-left">
              <button type="submit" class="btn btn-primary">O'zgartirish</button>
             </div>
        </div>


              </form><!-- End floating Labels Form -->
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock content %}