{% extends 'wrapper.html' %}
{% block content %}

  <main id="main" class="main">

    <!-- <div class="pagetitle">
      <h1>{{client.name}}</h1>
      
    </div><hr> -->
    
    
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4 mt-4 p-3">
              <div class="card-body text-center mt-3 ">
                <img src="../static/assets/img/fitnesss.jpg" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 90px; height: 90px;">
                <h5 class="my-3">John Smith</h5>
               
                
              </div>
            </div>
         
          </div>
          <div class="col-lg-8 ">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ client.name }}</p>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ client.phone }}</p>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Status</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ client.status }}</p>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Tarif</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ client.coming_type }}</p>
                  </div>
                </div>
              
                <hr>
            
              </div>
            </div>
         </div>
      </div>
      </div>
   <div class="col-md-6" style="overflow-y: scroll; height: 300px;">
    {% for month in months %}
    <div class="month">
        <div class="title form-inline">
            <h4 class="pagetitle">{{month.created | date:"F"}} {{month.came}}/{{month.coming_days}} 
                
                {% if month.payed == True %}
                    <button class="btn btn-primary btn-sm btn-disaled">Payed</button>
                    {% else %}
                    <button class="btn btn-danger btn-sm">Unpayed</button>
                {% endif %}
                {{month.id}}
            </h4>
        </div>
        <!-- <div class="row "> -->
           <!-- <div class="col-md-6"> -->
             <div class="row">
                {% for day in month.days.all %}
            
            {% if day.came == True %}
            <div class="col-md-2 col-sm-4">
                <div class="card bg-success text-light" style="width:70px; height: 70px;" >
                    <div class="text-center text-light">
                        12 <br>
                        {{day.date|date:"D"}}
                    </div>
                </div>
            </div>

            {% else %}
            <div class="col-md-2 col-sm-4">
                <div class="card bg-danger text-light " style="width:70px; height: 70px;" >
                    <div class="text-center text-light">
                        12 <br>
                        {{day.date|date:"D"}}
                    </div>
                </div>
            </div>

            {% endif %}

            {% endfor %}
             </div>
            
        
    </div>

    <hr>
    {% endfor %}
   </div>
   
   <div class="row mt-5">
     <hr>
     <h3 class="text-success">To'lov qo'shish</h3>
     <div class="col-md-6">
  
         <form class="row g-3" method="post" style="margin-left: auto;"> {% csrf_token %}
             <div class="col-md-12">
               <div class="form-floating">
                 <input type="number" name="summa" class="form-control" id="floatingName" placeholder="Summa">
                 <label for="floatingName">Summa</label>
               </div>
  
             </div>
  
  
             <div class="col-md-12">
               <div class="form-floating mb-3">
                 <select class="form-select" name="month" id="floatingSelect" aria-label="State">
                   {% for t in tarif %}
                   <option selected value="{{t.title}}" >{{t}}</option>
                   {% endfor %}
                 </select>
                 <label for="floatingSelect">Month</label>
               </div>
             </div>
  
  
            <div class="text-left">
               <button type="submit" class="btn btn-primary">Qoshish</button>
             </div>
           </form><!-- End floating Labels Form -->
  
  
     </div>
     
     <div class="col-md-6" style="overflow-y: scroll; height: 300px;">  
      <h3 class="text-success">Umumiy to'lovlar</h3>
      <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Oy nomi</th>
                    <th scope="col">To'langan summa</th>
                    <th scope="col">To'langan sana</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

        


  </main><!-- End #main -->
{% endblock content %}