{% extends 'wrapper.html' %}
{% block content %}


  <!-- ======= Sidebar ======= -->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tolov qoshish</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Asosiy sahifa</a></li>
          <li class="breadcrumb-item">Tolovlar</li>
          <li class="breadcrumb-item active">Tolov qoshish</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Klient uchun to'lov qilish</h5>

              <!-- Floating Labels Form -->

              <form method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="userId" placeholder="ID" name="uid">
                      <label for="floatingCity">Klient IDsi (skanerlang)</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="payment" placeholder="payment" name="payment">
                      <label for="floatingCity">To'lov miqdori</label>
                    </div>
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Tasdiqlash</button>
                  <button type="reset" class="btn btn-secondary">Tozalash</button>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <script>
      setInterval(function(){
        navigator.clipboard.readText().then(text => document.getElementById("userId").value = text);
      }, 200)
    </script>

  </main><!-- End #main -->
{% endblock content %}