{% extends 'wrapper.html' %}
{% block content %}
<link rel="stylesheet" href="/static/assets/example/css_final.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<main id="main" class="main">


<div class="pagetitle">
    <h1>Davomat</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Asosiy sahifa</a></li> 
        <li class="breadcrumb-item">Davomat</li>
        <li class="breadcrumb-item active">Davomat kiruvchilar royhati</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    

    <div class="container mt-5">
        
        <!-- <div class="outer-wrapper">
            <div class="table-wrapper"> -->
                <div class="row">
                    <div class="col-md-12">
                
                        <input type="text" name=""  id="search" placeholder="Search.." style="padding: 5px; width: 100%;">
    <table id="emp-table" class="table table-border datab" style="width:100%">

        
        <thead class="p-4">
            
            <th col-index = 1 >Ism Familya</th>
            <th col-index = 2>
                <select  class="table-filter  form-select" onchange="filter_rows()">
                    <option value="all">Barcha tariflar</option>
                </select>
            </th>

            <th col-index = 3>
                <select class="table-filter form-select" onchange="filter_rows()">
                    <option value="all">Barcha statuslar</option>
                </select>
            </th>
            <th col-index = 4>
                <select class="table-filter form-select" onchange="filter_rows()">
                    <option value="all">Barcha to'lovlar</option>
                </select>
            </th>
            <th>Telefon raqam</th>
            <th>Davomat</th>
    
            
        </thead>

        <tbody class="p-4">
            {% for c in clients %}
            <tr>
                <td>{{ forloop.counter }}. <a href="{% url 'main:detail' c.id %}" >{{ c.name }}</a></td>   
                <td>{{ c.coming_type }}</td>
                
                <td class="
                {% if c.status == "ACTIVE" %}
                text-success
                {% elif c.status == "INACTIVE" %}
                text-danger
                {% else %}
                text-warning
                {% endif %}">{{ c.status     }}
                </td>

                <!-- <td class="badge bg-danger">{{ c.status }}</td> -->
                <td
                {% if c.debt == False %}
                class="text-success">To'langan
                {% else %}
                class="text-danger">To'lanmagan
                {% endif %}
                </td>

                <td>{{ c.phone }}</td>
                <td class="att_td">  
                    <!-- {% comment %} <span class=attendance-check-{{ c.id }}>
                            <a href="#"  onclick="Attendance('check')">
                                <i class="fa-sharp fa-solid fa-circle-check text-success" style="font-size: 24px;">
                                    <p style="font-size: 12px; font-weight:bold; padding: 4px; margin-left: -5px;">Keldi</p>
                                </i>
                            </a>
                    </span>
                    <span class=attendance-x-{{ c.id }}>
                        <a href="#"  onclick="Attendance('x')" >
                            <i class="fa-sharp fa-solid fa-circle-xmark text-danger " style="font-size: 24px; margin-left: 10px;" >
                                <p style="font-size: 12px; font-weight:bold; padding: 4px; margin-left: -12px;">Kelmadi</p>
                            </i>
                        </a>
                    </span>
                    <span class=attendance-edit-{{ c.id }}>
                        <a href="#" onclick="Attendance('edit')" >
                            <!-- <i class="fa-solid fa-pen-to-square"></i> -->
                            <!-- <i class="fa-solid fa-pen-to-square text-warning" style="font-size:22px; margin-left: 10px;">
                                <p style="font-size: 12px; font-weight:bold; padding: 4px; margin-left: -12px;">Tahrirlash</p>
                            </i>
                        </a> -->
                    <!-- </span> {% endcomment %} --> 
                    

                    <label class="switch ">
                        
                        {% if c.months.all.last.days.all.last %}
                            {% if c.months.all.last.days.all.last.came == True %}
                            
                            <input data-id="{{c.months.all.last.days.all.last.id}}" checked="true" type="checkbox" class="default davomat">
                            <span class="slider round"></span>
                            {% else %}
                            <input data-id="{{c.months.all.last.days.all.last.id}}" type="checkbox" class="default davomat">
                            <span class="slider round"></span>
                            
                            {% endif %}
                            {% else %}
                        {% endif %}
                            
                    </label>
                </td>
                <!-- <td>Site 1</td> -->
            </tr>
            {% endfor %}

            

        </tbody>
    </table>

    <style>

        .switch {
            float: left;
            position: relative;
            display: inline-block;
            width:  40px;
            height: 24px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {display:none;}
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(199, 31, 31);
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 23px;
            width: 22px;
            left: -2px;
            bottom: 2px;
            background-color: rgb(255, 255, 255);
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input.default:checked + .slider {
            background-color: rgb(0, 255, 13);
        }
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
  border-radius: 50%;
}
        </style>
        
        
        
    
   
        
    <!-- <script>getUniqueValuesFromColumn()
    </script> -->
    <script src="/static/assets/example/filter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    
    <script>
        window.onload = () => {
            
        };

        getUniqueValuesFromColumn()
        

        var $rows = $('#emp-table tr');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            
            
            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
                
        $(".davomat").on("change", function(){
            $id = $(this).data("id")
            $atr = $(this).prop("checked")
            $.ajax({
                url:`/add_day/${$id}`,
                type:"GET",
                data:{
                    "day_result":$atr
                },
                success:function(response){
                    
                }
            })
        })

       
    </script>
   


    <style>
        .dataTable-search{
            width: 100%;
            margin-bottom: 25px;
            
        }       
    </style>
 
</div>
</div>
<!-- </div>
</div> -->

</div>


</main>


{% endblock content %}

