<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- font-awesome  -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <title>Login</title>
</head>
<body>
  

  <main>
    <div class="container">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show msg" role="alert "   >
            <i class="bi bi-x-circle me-1"></i>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          
          {% endfor %}
      </ul>
      {% else %}
    {% endif %}

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'main:home' %}" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">CRM Fitness</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Kirish</h5>
                    <p class="text-center small">
                        Username va parolingizni kiriting</p>
                        <hr>
                        <p>{{ login }}</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post"> {% csrf_token %}

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" required  name="username" class="form-control" id="yourUsername" >
                        <div class="invalid-feedback">Iltimos username ni kiriting.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Parol</label>
                      <input type="password" required name="password" class="form-control" id="yourPassword" >
                      <div class="invalid-feedback">Iltimos parolni kiriting !</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Kirish</button>
                      
                    </div>
                  </form>

                </div>
              </div>



            </div>
          </div>
        </div>

      </section>

      <style>
        .msg{
          position: fixed;
          top: 10px;
          right: 0;
          width: 30%;
          animation: run 1s linear ;
          z-index: 100;
        }
        @keyframes run {
        from{ 
            transform: translateX(500px);   
        }
        to{
            transform: translateX(-8px);   
        }
  }
      </style>

    </div>
  </main><!-- End #main -->
  <script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

</body>
</html>