{% extends 'wrapper.html' %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asosiy sahifa</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Asosiy sahifa</a></li>
          <li class="breadcrumb-item active"></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

  <center>
    <section class="section">
      <div class="row">
        <div class=" card-1 col-lg-6  ml-5  " >

          salom

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Royhatdan otkazish</h5>

              <!-- Floating Labels Form -->
               <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">Ismi</label>
                  </div>
                  
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                      <label for="floatingName">Familiyasi</label>
                    </div>
                    
                  </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                    <label for="floatingEmail">Your Email</label>
                  </div>
                </div>
              
         
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingCity" placeholder="City">
                      <label for="floatingCity">Telefon raqam</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="State">
                      <option selected>Oylik</option>
                      <option value="1">Haftalik</option>
                      <option value="2">Kunlik</option>
                    </select>
                    <label for="floatingSelect">Tarif</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="State">
                      <option selected>Oylik</option>
                      <option value="1">Haftalik</option>
                      <option value="2">Kunlik</option>
                    </select>
                    <label for="floatingSelect">Status</label>
                  </div>
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Qoshish</button>
                  <button type="reset" class="btn btn-secondary">Qayta o'rnatish</button>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

        </div>
      </div>
    </section>
  </center>

  </main><!-- End #main -->
{% endblock content %}