{% extends 'wrapper.html' %}

{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Davomat</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Asosiy sahifa</a></li>
          <li class="breadcrumb-item">Davomat</li>
          <li class="breadcrumb-item active">Davomat kiruvchilar royhati</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">


          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Klientlar ro'yxati <span>| Today</span></h5>

              <table class="table table-borderless datatable">
                <div class="row">
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  
                </div>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">ISM FAMILIYA</th>
                    <th scope="col">TEL NO.</th>
                    <th scope="col">TARIFI</th>
                    <th scope="col">TO'LOVLAR</th>
                    <th scope="col">STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for client in clients %}
                    <tr>
                    <th scope="row"><a href="#">#{{ forloop.counter }}</a></th>
                    <td><a href="#">{{ client.name }}</a></td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.coming_type }}</td>
                    <td>
                      
                      {% if client.months.last.payed == True %}
                      <span class="badge bg-success">To'langan</span>
                      {% else %}
                      <span class="badge bg-danger">To'lanmagan</span>
                      {% endif %}
                        
                    </td>
                    <td>
                      {% if client.status == "ACTIVE" %}
                      <span class="badge bg-success">{{client.status}}</span>
                      {% elif client.status == "INACTIVE" %}
                      <span class="badge bg-danger">{{client.status}}</span>
                      {% else %}
                      <span class="badge bg-warning">{{client.status}}</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                    
                  
                </tbody>
              </table>

            </div>
          </div>

       
        
          </div>

        </div>
      </div>
    </section>
    
  </main><!-- End #main -->


  <style>
    
  * {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #mylist {
    /* background-position: 10px 10px; */
    background-repeat: no-repeat;
    width: 100%;
    font-size: 17.5px;
    /* padding: 12px 20px 12px 40px; */
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 17px;
  }
  
  #myTable th,
  #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header,
  #myTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .hide {
    display: none
  }
  </style>
  
  <script>
    function myFunction() {
    let input, filter, table, tr, td,i;
    const searchbox = document.querySelector("#mysearch");
    let textBox = searchbox.value;
    console.log(textBox)

    input = document.getElementById("mylist");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      td_name = tr[i].getElementsByTagName("td")[1];
      if (td) {
        tr[i].classList.toggle("hide", filter && td.innerHTML.toUpperCase() !== filter)
      }
      
      
     
    }
  }
  </script>


<script>


</script>


  {% endblock %}
  