{% extends 'wrapper.html' %}

{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Davomat</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Asosiy sahifa</a></li>
          <li class="breadcrumb-item">Davomat</li>
          <li class="breadcrumb-item active">Davomat kiruvchilar royhati</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">


          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Klientlar ro'yxati <span>| Today</span></h5>

              <table class="table table-borderless datatable">
                <div class="row">
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-6">

                    <select class="form-select">
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                      <option value="">ssaom</option>
                    </select>
                  </div>
                  
                </div>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">ISM FAMILIYA</th>
                    <th scope="col">TEL NO.</th>
                    <th scope="col">TARIFI</th>
                    <th scope="col">TO'LOVLAR</th>
                    <th scope="col">STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for client in clients %}
                    <tr>
                    <th scope="row"><a href="#">#{{ forloop.counter }}</a></th>
                    <td><a href="#">{{ client.name }}</a></td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.coming_type }}</td>
                    <td>
                      
                      {% if client.months.last.payed == True %}
                      <span class="badge bg-success">To'langan</span>
                      {% else %}
                      <span class="badge bg-danger">To'lanmagan</span>
                      {% endif %}
                        
                    </td>
                    <td>
                      {% if client.status == "ACTIVE" %}
                      <span class="badge bg-success">{{client.status}}</span>
                      {% elif client.status == "INACTIVE" %}
                      <span class="badge bg-danger">{{client.status}}</span>
                      {% else %}
                      <span class="badge bg-warning">{{client.status}}</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                    
                  
                </tbody>
              </table>

            </div>
          </div>

       
        
          </div>

        </div>
      </div>
    </section>
    
  </main><!-- End #main -->




<script>


</script>


  {% endblock %}
  