{% extends 'wrapper.html' %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tariflar ro'yxati</h1>
      <nav class="header-nav ms-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Asosiy sahifa</a></li>
          <li class="breadcrumb-item active">Tariflar ro'yxati</li>

        </ol>
        
      </nav>
    </div><!-- End Page Title -->

   

  <div class="row confirm-row">
    <div class="card col-lg-3 confirm-card p-3">
      <div class="card-title text-center">
        Ushbu tarifni o'chirishni xoxlaysizmi ?
      </div>
      <div class="card-body text-center">
        <span class="btn bg-success text-light m-2" onclick="confirmYes('yes')">Ha</span>
        <span class="btn bg-danger text-light m-2" onclick="confirmYes('no')">Yo'q</span>
      </div>
    </div>
  </div>


    <section class="section">
      <div class="row"><div class="col-12 mb-3">
      <a href="{% url 'main:addtarif' %}" class="badge bg-primary p-2 pe-2 info" style="font-size: 19px; width: 200px; height: 45px; color: white; float: right;">
        Tarif qo'shish <i class="bi bi-plus-circle"></i></a>

      </div></div>
      <div class="row">
        {% for i in tarif %}
        <div class="card-1 col-lg-6 c-info-{{ i.id }} info" >

          <div class="card  p-3">
            <div class="card-title p-2" style="font-size: 20px;">
              <div class="text"><div class="badge bg-info" style="font-size: 18px;">{{ i.title }}</div>  tarifi quyidagi afzalliklarga ega!
            </div>

            <ul class="mt-2 pt-2 ">
              <li>Bir oyda <div class="badge bg-warning" style="font-size: 17px;">{{ i.days }} kun</div> davomida doimiy mashg'ulot.</li>
              <li class="mt-1">Oylik to'lov <div class="badge bg-success" style="font-size: 17px;">{{ i.price }} so'm</div></li>
            </ul>

              <div class="text text-secondary">Qo'shimcha ma'lumot: </div>{{ i.info }}
            </div>
            <div>
              
              <a href="update/tarif/{{ i.id }}" class="badge bg-warning text-light p-2" style="font-size: 16px;"><i class="bi bi-pencil-square me-1 text-dark"></i> Tahrirlash</a>
              
              <!-- <a href="delete/tarif/{{ i.id }}" onclick="confirmDelete()" class="badge bg-danger text-light p-2" style="font-size: 16px;"><i class="bi bi-x-circle-fill me-1 "></i> O'chirish</a> -->
              <a href="#" onclick="confirmDelete('delete', '{{ i.id }}')" data-id="{{ i.id }}"  class="badge bg-danger text-light p-2 delete" style="font-size: 16px;"><i class="bi bi-x-circle-fill me-1 "></i> O'chirish</a>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>



    </section>

    <style>
      .info{
        animation: slide 1s linear;
      }
      @keyframes slide{
        from{
          transform: translateY(-100px);
          opacity: 0;
        }
        to{
          transform: translateY(7px);
          opacity: 1;
        }
      }
   
  .confirm-card{
    display: none;
    position: fixed;
    left: 45%;
    top:65px;
    z-index: 150;
    animation: todown 0.8s ;
  }
  @keyframes todown {
    from{
      transform: translateY(-50px);
    }
    to{
      transform: translateY(0px);
    }
  }
    
    </style>

    <script>
      function confirmDelete(answer,id){
        let card = document.querySelector('.confirm-card')
        
        if(answer === 'delete'){
          card.style.display = 'block';
          card.setAttribute('data-id',id )
          
        }
        
      }
      function confirmYes(answer){
        let card = document.querySelector('.confirm-card')
        let id =  card.getAttribute('data-id')

        if(answer === 'no'){
          card.style.display = 'none';
        }
        else if(answer === 'yes'){

          $.ajax({
              url:`delete/tarif/${Number(id)}`,
              type:"GET",
              data:{ 
                  "msg":"ok"
              },
              success:function(response){
                let c_info = document.querySelector(`.c-info-${id}`).style.display = 'none';

              }
          })
          card.style.display = 'none';
       
        }
      }

    </script>

  </main><!-- End #main -->

  <script src="/fitnes_crm/static/assets/js/jquery-3.6.1.min.js"></script>

{% endblock content %}